
@model Requirement.FullView

<div class="table-section px-3 pt-1">
    <section id="client-form" class="request">
        @*<div class="d-flex justify-content-between mt-1 mb-3">
            <div class="client-tb-title"><p>Request</p></div>
        </div>*@

        <div class="row my-2">
            <div class="col-xl-8 my-1">
                <div class="card pb-3">
                    <div class="card-header py-2 ">
                        <div class="card-title d-flex justify-content-between py-0 my-0">

                            <div class="d-flex justify-content-between align-items-center">
                                <p class="rrname">Request No: </p>
                                <p class="rrqno mx-1 "> @Model.RequestNo</p>
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <p class="rrname">Request Date:</p>
                                <p class="rrqno mx-1">@Model.RequestDate</p>
                            </div>



                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">

                                <div class="d-flex justify-content-between bgR">
                                    <p class="rname">Hired Type</p>
                                    <p class="rqno">@Model.HiredBy</p>
                                </div>

                                <div class="d-flex justify-content-between bgR">
                                    <p class="rname">Region</p>
                                    <p class="rqno">@Model.Region</p>
                                </div>
                                <div class="d-flex justify-content-between bgR">
                                    <p class="rname">State</p>
                                    <p class="rqno">@Model.State</p>
                                </div>
                                <div class="d-flex justify-content-between bgR">
                                    <p class="rname">Branch</p>
                                    <p class="rqno">@Model.Branch</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex justify-content-between bgR">
                                    <p class="rname">Dealer Name</p>
                                    <p class="rqno">@Model.DealerName (@Model.DealerCode)	</p>
                                </div>


                                <div class="d-flex justify-content-between bgR">
                                    <p class="rname">Potential</p>
                                    <p class="rqno">@Model.Potential</p>
                                </div>
                                <div class="d-flex justify-content-between bgR">
                                    <p class="rname">Dealer Category</p>
                                    <p class="rqno">@Model.DealerCategory</p>
                                </div>
                                <div class="d-flex justify-content-between bgR">
                                    <p class="rname">Dealer Type</p>
                                    <p class="rqno">@Model.DealerType</p>
                                </div>


                            </div>
                            <div class="col-12">
                                <div class=" bgR">
                                    <div class="row">
                                        <div class="col-2 ">
                                            <p class="rname">Dealer Address</p>

                                        </div>
                                        <div class="col-10">
                                            <p class="rqno">@Model.DealerAddress
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>



            @if (Model.TargetList != null)
            {
                <div class="col-xl-4 my-1">
                    <div class="card-shadow m-0 p-0 client">
                        <div class="d-flex justify-content-between client-header p-0 m-0">
                            <div class="client-tb-title mx-2 my-2"><h3>Target</h3></div>
                        </div>
                        <div class="row card">
                            <div class="col-xl-12 p-0 m-0" id="client-table">
                                <table class="table table-bordered text-nowrap key-buttons mb-0 pb-0 ">
                                    <thead>
                                        <tr>
                                            <th>S.NO</th>
                                            <th>Product Type</th>
                                            <th>Target Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int pdcount = 0;}
                                        @foreach (var item in Model.TargetList)
                                        {
                                            pdcount++;
                                            <tr>
                                                <td>@pdcount</td>
                                                <td>@item.ProductType</td>
                                                <td>@item.Qty</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.ApplicationList != null)
        {
            <div class="mt-3 mb-2" id="client-table">
                <div class="d-flex justify-content-between my-1">
                    <div class="client-tb-title"><p>Application Offered</p></div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <table id="example" class="table table-bordered text-nowrap key-buttons table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>SNo.</th>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>EmailID</th>
                                    <th>Qualification</th>
                                    <th>Experience</th>
                                    <th>Salary</th>
                                    <th>Resume</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int count = 0;}
                                @foreach (var item in Model.ApplicationList)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>
                                            <input type="hidden" name="I" value="@item.ApplicationID" />
                                            <input type="hidden" name="N" value="@item.Name" />
                                            <input type="checkbox" class="newwidth" id="checkAll_@item.ApplicationID" name="Chksingle" onclick="ClickCheck(this);" value="@item.ApplicationID" />
                                            <label for="checkAll_@item.ApplicationID"></label>

                                        </td>
                                        <td>@item.Name  @item.Approved</td>
                                        <td>@item.Phone</td>
                                        <td>@item.EmailID</td>
                                        <td>@item.Qualification</td>
                                        <td>@item.Experience</td>
                                        <td>@item.Salary</td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(@item.AttachmentURL))
                                            {
                                                <a target="_blank" href="@item.AttachmentURL">Resume</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            if (!Model.ApplicationList.Any(x => x.Approved == 1))
            {
                <div class="col-md-12 my-1 py-1 px-0">
                    <div>
                        <label>Remarks</label>
                    </div>
                    <div class="">


                        <textarea class="form-control " id="txtReason"></textarea>
                        <input type="hidden" id="ApplicationIDs" name="ApplicationIDs" value="" />

                        <div class="d-flex justify-content-end my-3">

                            <button type="button" class="btn apr-btn btnProcess pull-right" onclick="SubmitApprovalForm(1)" name="Command" value="1">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Approve
                            </button>
                            <button type="button" class="btn rct-btn btnProcess pull-right" onclick="SubmitApprovalForm(2)" name="Command" value="2">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                Reject
                            </button>
                            <div class="">
                                <a href="/" type="button" class="btn-primary client-save btn  px-5">Back </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    
    </section>
</div>
@section scripts    {
    <script>


            function ClickCheck(obj) {
                var IDs = "";
                $("input[name=Chksingle]").each(function () {
                    if ($(this).prop('checked') == true) {
                        IDs += $(this).val() + ",";
                    }
                });
                $("input:hidden[name=ApplicationIDs]").val(IDs);
            }


             function SubmitApprovalForm(Approved) {
                var dataObject = JSON.stringify({
                    'ApprovedRemarks': $("#txtReason").val(),
                    'Approved': Approved,
                    'IDs': $("#ApplicationIDs").val(),
                    'src': EncryptJSON(@ViewBag.MenuID+"*" + "/Recurit/ApprovedApplication")
                });
            $.ajax({
                url: "/Recurit/ApprovedApplication",
                dataType: "json",
                contentType: 'application/json',
                type: "Post",
                data: dataObject,
                async: false,
                success: function (data)
                {
                    if (data.Status) {
                        SuccessToaster(data.SuccessMessage);
                        window.location.href = data.RedirectURL;
                    }
                    else {
                        CloseLoadingDialog();
                        FailToaster(data.SuccessMessage);
                    }

				},
				error: function (er) {
                    CloseLoadingDialog();
				}
			});
        }
    </script>
}